<div>
  <h1> <%= @merchant.name %> - All Discounts </h1>
  <%= button_to 'New Discount', "/merchants/#{@merchant.id}/discounts/new", method: :get %><br>
  <%= render partial: 'partials/merchant_discounts' %>
</div>
